div.flex.v-container.full
    div.flex.v-container.items.h-center.v-center
        div
            img(alt="Vue logo" v-bind:src="logo")
            div.flex.v-container
                v-btn.primary( @click="send") send
                v-btn.secondary(@click="showNotifications") show notification 