.color-primary {
    color: {{style.primary}};
}
.color-secondary {
    color: {{style.secondary}};
}

html {
    height: 100%;
}

a {
    color: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    color: {{style.fg}};
    margin: 10px;
    background-color: {{style.bg}};
}

#main {
    width: 100%;
    text-align: center;
}

.button {
    background-color: transparent;
    border-radius: 10px;
    border-width: 2px;
    border-color: {{style.primary}};
    color: {{style.primary}};
    padding: 10px 50px;
    font-size: 18px;
}
