$margin: 10px;
$padding: 10px;

.v-card.custom{
    margin: $margin !important;
    padding: $padding !important;
}
.v-card.custom-vfull{
    margin: $margin !important;
    padding: $padding !important;
    height: calc(100% - #{$margin*2}) !important;
}    